In [1]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
X,y=load_iris(return_X_y=True)

In [3]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [4]:
scaler=StandardScaler()
X_train_scaled=scaler.fit_transform(X_train)
X_test_scaled=scaler.transform(X_test)

In [5]:
X_train_scaled

array([[ 0.19290164, -2.01567832,  0.71201021,  0.4081801 ],
       [ 1.18852302, -0.18324348,  0.99643505,  1.20462907],
       [-0.0560037 , -1.0994609 ,  0.14316051,  0.00995561],
       [-0.92717241,  0.50391958, -1.1651938 , -0.91923485],
       [-1.54943577,  0.04581087, -1.27896374, -1.31745934],
       [-1.30053042,  0.04581087, -1.22207877, -1.31745934],
       [ 0.815165  , -0.64135219,  0.48447033,  0.4081801 ],
       [ 0.69071233,  0.27486523,  0.88266512,  1.47011206],
       [ 0.31735431, -0.18324348,  0.65512524,  0.80640458],
       [ 2.30859706, -0.18324348,  1.33774487,  1.47011206],
       [ 0.69071233, -0.64135219,  1.05332002,  1.20462907],
       [-1.05162508,  0.50391958, -1.33584871, -1.31745934],
       [-1.05162508,  0.96202829, -1.39273368, -1.18471784],
       [-0.55381439,  1.8782457 , -1.1651938 , -1.05197635],
       [ 1.06407034,  0.50391958,  1.11020499,  1.73559505],
       [ 0.31735431, -0.18324348,  0.48447033,  0.2754386 ],
       [ 0.69071233, -0.41229784,  0.31381542,  0.14269711],
       [-1.42498309,  0.27486523, -1.39273368, -1.31745934],
       [-1.30053042, -0.18324348, -1.33584871, -1.45020083],
       [ 0.31735431, -0.64135219,  0.5413553 ,  0.00995561],
       [-0.55381439,  1.8782457 , -1.39273368, -1.05197635],
       [-0.0560037 ,  2.10730006, -1.44961865, -1.31745934],
       [-0.0560037 , -0.87040655,  0.76889518,  0.93914608],
       [ 0.56625966, -0.87040655,  0.65512524,  0.80640458],
       [-0.92717241,  1.64919135, -1.05142386, -1.05197635],
       [ 0.93961767, -0.18324348,  0.37070039,  0.2754386 ],
       [ 0.56625966, -0.41229784,  1.05332002,  0.80640458],
       [-0.55381439, -0.18324348,  0.42758536,  0.4081801 ],
       [-0.92717241,  1.64919135, -1.27896374, -1.18471784],
       [-0.18045637, -0.64135219,  0.42758536,  0.14269711],
       [ 0.69071233, -0.64135219,  1.05332002,  1.33737056],
       [-0.0560037 , -0.87040655,  0.08627554,  0.00995561],
       [ 0.56625966, -1.32851525,  0.65512524,  0.4081801 ],
       [-0.18045637,  1.64919135, -1.1651938 , -1.18471784],
       [-0.92717241,  0.96202829, -1.33584871, -1.18471784],
       [-0.0560037 , -0.87040655,  0.20004548, -0.25552738],
       [-1.05162508,  0.73297393, -1.27896374, -1.31745934],
       [ 0.44180699, -0.41229784,  0.31381542,  0.14269711],
       [ 0.19290164, -0.41229784,  0.42758536,  0.4081801 ],
       [-1.42498309,  0.27486523, -1.22207877, -1.31745934],
       [-0.30490905, -0.87040655,  0.25693045,  0.14269711],
       [-0.80271973, -0.87040655,  0.08627554,  0.2754386 ],
       [-0.18045637, -1.0994609 , -0.14126434, -0.25552738],
       [ 1.06407034, -1.32851525,  1.16708996,  0.80640458],
       [ 0.44180699, -0.64135219,  0.59824027,  0.80640458],
       [ 0.44180699, -2.01567832,  0.42758536,  0.4081801 ],
       [ 0.56625966, -0.64135219,  0.76889518,  0.4081801 ],
       [-0.80271973,  0.96202829, -1.27896374, -1.31745934],
       [ 0.44180699,  0.73297393,  0.93955008,  1.47011206],
       [-1.17607775,  0.04581087, -1.27896374, -1.45020083],
       [ 0.06844897,  0.27486523,  0.59824027,  0.80640458],
       [-0.0560037 , -0.87040655,  0.76889518,  0.93914608],
       [-1.05162508, -0.18324348, -1.22207877, -1.31745934],
       [ 0.19290164, -2.01567832,  0.14316051, -0.25552738],
       [ 0.06844897, -0.18324348,  0.76889518,  0.80640458],
       [-0.42936172,  0.96202829, -1.39273368, -1.31745934],
       [ 0.06844897, -0.18324348,  0.25693045,  0.4081801 ],
       [ 0.31735431, -0.64135219,  0.14316051,  0.14269711],
       [ 2.30859706, -0.64135219,  1.67905469,  1.07188757],
       [ 2.30859706,  1.64919135,  1.67905469,  1.33737056],
       [-0.55381439,  0.73297393, -1.27896374, -1.05197635],
       [ 0.815165  , -0.18324348,  0.99643505,  0.80640458],
       [ 1.31297569,  0.04581087,  0.76889518,  1.47011206],
       [-1.30053042,  0.73297393, -1.05142386, -1.31745934],
       [ 2.18414439, -0.18324348,  1.62216972,  1.20462907],
       [ 1.31297569,  0.27486523,  1.11020499,  1.47011206],
       [-1.54943577,  0.27486523, -1.33584871, -1.31745934],
       [ 1.06407034,  0.04581087,  0.37070039,  0.2754386 ],
       [ 2.55750241,  1.64919135,  1.50839978,  1.07188757],
       [-0.42936172,  2.56540877, -1.33584871, -1.31745934],
       [-1.05162508,  1.19108264, -1.33584871, -1.31745934],
       [ 1.06407034,  0.04581087,  1.05332002,  1.60285355],
       [ 1.43742836,  0.27486523,  0.5413553 ,  0.2754386 ],
       [ 0.815165  ,  0.27486523,  0.76889518,  1.07188757],
       [-0.30490905, -0.18324348,  0.20004548,  0.14269711],
       [-1.79834111,  0.27486523, -1.39273368, -1.31745934],
       [-0.42936172, -1.0994609 ,  0.37070039,  0.00995561],
       [-0.80271973,  0.73297393, -1.33584871, -1.31745934],
       [-0.42936172, -1.55756961,  0.02939057, -0.12278588],
       [-0.80271973,  2.33635441, -1.27896374, -1.45020083],
       [-0.92717241,  1.420137  , -1.27896374, -1.05197635],
       [ 0.19290164,  0.73297393,  0.42758536,  0.54092159],
       [-1.30053042, -0.18324348, -1.33584871, -1.18471784],
       [-0.92717241, -1.32851525, -0.42568919, -0.12278588],
       [ 1.31297569,  0.04581087,  0.93955008,  1.20462907],
       [-1.17607775,  1.19108264, -1.33584871, -1.45020083],
       [-0.92717241,  0.73297393, -1.27896374, -1.31745934],
       [ 0.56625966,  0.50391958,  1.2808599 ,  1.73559505],
       [-0.55381439,  1.420137  , -1.27896374, -1.31745934],
       [ 0.815165  , -0.18324348,  1.16708996,  1.33737056],
       [-1.54943577,  1.19108264, -1.56338859, -1.31745934],
       [ 1.18852302, -0.64135219,  0.59824027,  0.2754386 ],
       [-0.30490905, -0.64135219,  0.65512524,  1.07188757],
       [-0.30490905, -0.18324348,  0.42758536,  0.4081801 ],
       [-0.18045637, -1.32851525,  0.71201021,  1.07188757],
       [-1.05162508,  0.96202829, -1.22207877, -0.78649336],
       [ 0.56625966, -1.78662396,  0.37070039,  0.14269711],
       [-0.30490905, -0.41229784, -0.08437937,  0.14269711],
       [ 0.69071233, -0.87040655,  0.88266512,  0.93914608],
       [-0.42936172, -1.78662396,  0.14316051,  0.14269711],
       [ 1.93523905, -0.64135219,  1.33774487,  0.93914608],
       [-1.17607775, -1.55756961, -0.25503428, -0.25552738],
       [ 0.19290164, -0.87040655,  0.76889518,  0.54092159],
       [-0.42936172, -1.32851525,  0.14316051,  0.14269711],
       [ 1.18852302,  0.27486523,  1.22397493,  1.47011206],
       [-1.54943577,  0.73297393, -1.33584871, -1.18471784],
       [-1.05162508,  0.73297393, -1.22207877, -1.05197635],
       [-1.17607775, -1.32851525,  0.42758536,  0.67366309],
       [ 0.69071233,  0.04581087,  0.99643505,  0.80640458],
       [ 0.31735431, -1.0994609 ,  1.05332002,  0.2754386 ],
       [-1.79834111, -0.41229784, -1.33584871, -1.31745934],
       [ 0.19290164, -0.18324348,  0.59824027,  0.80640458],
       [ 1.6863337 , -0.18324348,  1.16708996,  0.54092159],
       [ 0.93961767, -0.41229784,  0.48447033,  0.14269711],
       [ 1.81078638, -0.41229784,  1.45151481,  0.80640458],
       [ 0.56625966,  0.73297393,  1.05332002,  1.60285355],
       [-0.55381439,  0.73297393, -1.1651938 , -1.31745934],
       [ 1.31297569,  0.04581087,  0.65512524,  0.4081801 ],
       [-1.30053042,  0.73297393, -1.22207877, -1.31745934],
       [-0.18045637,  3.02351748, -1.27896374, -1.05197635]])

In [6]:
X_test_scaled

array([[-0.67826706,  1.420137  , -1.27896374, -1.31745934],
       [ 1.6863337 ,  0.27486523,  1.2808599 ,  0.80640458],
       [-0.92717241,  0.96202829, -1.33584871, -1.31745934],
       [ 1.06407034, -0.18324348,  0.71201021,  0.67366309],
       [ 0.56625966,  0.50391958,  0.5413553 ,  0.54092159],
       [ 0.69071233,  0.27486523,  0.42758536,  0.4081801 ],
       [-0.0560037 , -0.64135219,  0.76889518,  1.60285355],
       [ 1.06407034,  0.50391958,  1.11020499,  1.20462907],
       [-0.18045637, -0.64135219,  0.20004548,  0.14269711],
       [-1.92279378, -0.18324348, -1.50650362, -1.45020083],
       [ 0.815165  , -0.18324348,  0.82578015,  1.07188757],
       [-0.18045637, -0.41229784,  0.25693045,  0.14269711],
       [-1.17607775, -0.18324348, -1.33584871, -1.31745934],
       [-1.05162508, -2.47378703, -0.14126434, -0.25552738],
       [-0.30490905, -1.32851525,  0.08627554, -0.12278588],
       [ 0.31735431, -0.41229784,  0.5413553 ,  0.2754386 ],
       [ 1.06407034, -0.18324348,  0.82578015,  1.47011206],
       [ 1.6863337 ,  1.19108264,  1.33774487,  1.73559505],
       [-1.79834111, -0.18324348, -1.39273368, -1.31745934],
       [ 1.56188103, -0.18324348,  1.22397493,  1.20462907],
       [-1.17607775,  0.04581087, -1.27896374, -1.31745934],
       [-1.05162508,  0.27486523, -1.44961865, -1.31745934],
       [-0.18045637, -0.18324348,  0.25693045,  0.00995561],
       [ 0.56625966, -1.32851525,  0.71201021,  0.93914608],
       [-0.42936172, -1.55756961, -0.0274944 , -0.25552738],
       [-1.67388844, -1.78662396, -1.39273368, -1.18471784],
       [-0.92717241,  1.64919135, -1.22207877, -1.31745934],
       [ 2.30859706, -1.0994609 ,  1.79282463,  1.47011206],
       [ 1.06407034,  0.04581087,  0.5413553 ,  0.4081801 ],
       [-1.05162508, -1.78662396, -0.25503428, -0.25552738]])

In [7]:
from sklearn.datasets import fetch_openml
from sklearn.preprocessing import OrdinalEncoder

In [9]:
data=fetch_openml('car',as_frame=True).frame

c:\Users\DEV GARG\Documents\scikit_learn_free_code_camp\.venv1\lib\site-packages\sklearn\datasets\_openml.py:328: UserWarning: Multiple active versions of the dataset matching the name car exist. Versions may be fundamentally different, returning version 2. Available versions:
- version 2, status: active
  url: https://www.openml.org/search?type=data&id=991
- version 3, status: active
  url: https://www.openml.org/search?type=data&id=40975

  warn(warning_msg)

In [10]:
data

     buying  maint  doors persons lug_boot safety binaryClass
0     vhigh  vhigh      2       2    small    low           P
1     vhigh  vhigh      2       2    small    med           P
2     vhigh  vhigh      2       2    small   high           P
3     vhigh  vhigh      2       2      med    low           P
4     vhigh  vhigh      2       2      med    med           P
...     ...    ...    ...     ...      ...    ...         ...
1723    low    low  5more    more      med    med           N
1724    low    low  5more    more      med   high           N
1725    low    low  5more    more      big    low           P
1726    low    low  5more    more      big    med           N
1727    low    low  5more    more      big   high           N

[1728 rows x 7 columns]

In [12]:
columns_to_encode=['lug_boot','safety']
encoder=OrdinalEncoder(
    categories=[
        ['small','med','big'],
        ['low','med','high'],

    ]
)
data[columns_to_encode]=encoder.fit_transform(data[columns_to_encode])

In [13]:
data

     buying  maint  doors persons  lug_boot  safety binaryClass
0     vhigh  vhigh      2       2       0.0     0.0           P
1     vhigh  vhigh      2       2       0.0     1.0           P
2     vhigh  vhigh      2       2       0.0     2.0           P
3     vhigh  vhigh      2       2       1.0     0.0           P
4     vhigh  vhigh      2       2       1.0     1.0           P
...     ...    ...    ...     ...       ...     ...         ...
1723    low    low  5more    more       1.0     1.0           N
1724    low    low  5more    more       1.0     2.0           N
1725    low    low  5more    more       2.0     0.0           P
1726    low    low  5more    more       2.0     1.0           N
1727    low    low  5more    more       2.0     2.0           N

[1728 rows x 7 columns]

In [14]:
encoder.inverse_transform(data[columns_to_encode])

array([['small', 'low'],
       ['small', 'med'],
       ['small', 'high'],
       ...,
       ['big', 'low'],
       ['big', 'med'],
       ['big', 'high']], shape=(1728, 2), dtype=object)

In [15]:
data=fetch_openml('adult',as_frame=True).frame

c:\Users\DEV GARG\Documents\scikit_learn_free_code_camp\.venv1\lib\site-packages\sklearn\datasets\_openml.py:328: UserWarning: Multiple active versions of the dataset matching the name adult exist. Versions may be fundamentally different, returning version 1. Available versions:
- version 1, status: active
  url: https://www.openml.org/search?type=data&id=179
- version 2, status: active
  url: https://www.openml.org/search?type=data&id=1590

  warn(warning_msg)

In [16]:
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country,class
0,2,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,1,0,2,United-States,<=50K
1,3,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,0,United-States,<=50K
2,2,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,2,United-States,<=50K
3,3,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,2,United-States,<=50K
4,1,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,2,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,2,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,2,United-States,<=50K
48838,4,NaN,321403,HS-grad,9,Widowed,NaN,Other-relative,Black,Male,0,0,2,United-States,<=50K
48839,2,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,3,United-States,<=50K
48840,2,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,2,0,2,United-States,<=50K
48841,1,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,3,United-States,>50K

In [17]:
from sklearn.preprocessing import OneHotEncoder