Feature Encoding

In [1]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
X,y=load_iris(return_X_y=True)

In [3]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [4]:
scaler=StandardScaler()
X_train_scaled=scaler.fit_transform(X_train)
X_test_scaled=scaler.transform(X_test)

In [5]:
X_train_scaled

array([[ 8.53843572e-01, -1.50838088e-01,  1.19164884e+00,
         1.31099399e+00],
       [-1.29923540e+00,  8.42342570e-02, -1.22911301e+00,
        -1.31099399e+00],
       [-9.19280285e-01,  1.49466833e+00, -1.28675019e+00,
        -1.04879519e+00],
       [-3.27183569e-02,  2.19988536e+00, -1.45966176e+00,
        -1.31099399e+00],
       [-1.17258369e+00,  8.42342570e-02, -1.28675019e+00,
        -1.31099399e+00],
       [ 8.53843572e-01, -1.50838088e-01,  8.45825716e-01,
         1.04879519e+00],
       [ 2.62696743e+00,  1.72974067e+00,  1.53747196e+00,
         1.04879519e+00],
       [ 2.20585051e-01, -2.03141685e+00,  1.54179475e-01,
        -2.62198798e-01],
       [ 6.00540164e-01,  7.89451292e-01,  1.07637446e+00,
         1.57319279e+00],
       [ 1.10714698e+00, -1.50838088e-01,  7.30551342e-01,
         6.55496995e-01],
       [ 3.47236755e-01, -1.50838088e-01,  6.72914156e-01,
         7.86596394e-01],
       [ 1.74040550e+00,  3.19306602e-01,  1.30692321e+00,
         7.86596394e-01],
       [-1.42588710e+00,  3.19306602e-01, -1.40202457e+00,
        -1.31099399e+00],
       [ 4.73888459e-01, -3.85910433e-01,  3.27091035e-01,
         1.31099399e-01],
       [ 1.23379868e+00, -6.20982778e-01,  6.15276969e-01,
         2.62198798e-01],
       [-5.39325173e-01, -1.50838088e-01,  4.42365409e-01,
         3.93298197e-01],
       [-9.19280285e-01, -1.32619981e+00, -4.22192393e-01,
        -1.31099399e-01],
       [ 7.27191868e-01, -3.85910433e-01,  3.27091035e-01,
         1.31099399e-01],
       [-1.04593199e+00, -1.50838088e-01, -1.22911301e+00,
        -1.31099399e+00],
       [-7.92628581e-01,  2.43495771e+00, -1.28675019e+00,
        -1.44209339e+00],
       [-7.92628581e-01, -8.56055123e-01,  9.65422879e-02,
         2.62198798e-01],
       [-5.39325173e-01,  1.96481302e+00, -1.17147582e+00,
        -1.04879519e+00],
       [-1.55253881e+00,  8.42342570e-02, -1.28675019e+00,
        -1.31099399e+00],
       [ 7.27191868e-01, -8.56055123e-01,  9.03462903e-01,
         9.17695793e-01],
       [-5.39325173e-01,  7.89451292e-01, -1.28675019e+00,
        -1.04879519e+00],
       [-4.12673469e-01, -1.79634450e+00,  1.54179475e-01,
         1.31099399e-01],
       [ 2.20585051e-01, -8.56055123e-01,  7.88188529e-01,
         5.24397596e-01],
       [-1.59370061e-01, -6.20982778e-01,  2.11816661e-01,
         1.31099399e-01],
       [ 3.47236755e-01, -6.20982778e-01,  5.57639782e-01,
        -2.91099143e-16],
       [-6.65976877e-01,  1.49466833e+00, -1.28675019e+00,
        -1.31099399e+00],
       [ 4.73888459e-01, -6.20982778e-01,  6.15276969e-01,
         7.86596394e-01],
       [ 8.53843572e-01, -1.50838088e-01,  1.01873728e+00,
         7.86596394e-01],
       [-4.12673469e-01, -1.32619981e+00,  1.54179475e-01,
         1.31099399e-01],
       [ 1.10714698e+00, -1.32619981e+00,  1.19164884e+00,
         7.86596394e-01],
       [-9.19280285e-01,  5.54378947e-01, -1.17147582e+00,
        -9.17695793e-01],
       [-4.12673469e-01, -1.56127216e+00,  3.89051011e-02,
        -1.31099399e-01],
       [-3.27183569e-02, -8.56055123e-01,  2.11816661e-01,
        -2.62198798e-01],
       [-1.59370061e-01,  1.72974067e+00, -1.17147582e+00,
        -1.17989459e+00],
       [-1.04593199e+00,  5.54378947e-01, -1.34438738e+00,
        -1.31099399e+00],
       [-2.86021765e-01, -1.50838088e-01,  2.11816661e-01,
         1.31099399e-01],
       [ 1.10714698e+00,  5.54378947e-01,  1.13401165e+00,
         1.17989459e+00],
       [ 2.37366402e+00, -6.20982778e-01,  1.71038352e+00,
         1.04879519e+00],
       [-5.39325173e-01,  7.89451292e-01, -1.17147582e+00,
        -1.31099399e+00],
       [-2.86021765e-01, -3.85910433e-01, -7.63692725e-02,
         1.31099399e-01],
       [-5.39325173e-01,  1.96481302e+00, -1.40202457e+00,
        -1.04879519e+00],
       [ 9.39333472e-02,  3.19306602e-01,  6.15276969e-01,
         7.86596394e-01],
       [ 7.27191868e-01, -6.20982778e-01,  1.07637446e+00,
         1.31099399e+00],
       [ 1.10714698e+00,  8.42342570e-02,  1.07637446e+00,
         1.57319279e+00],
       [-1.29923540e+00,  7.89451292e-01, -1.05620145e+00,
        -1.31099399e+00],
       [ 8.53843572e-01,  3.19306602e-01,  7.88188529e-01,
         1.04879519e+00],
       [ 1.99370891e+00, -6.20982778e-01,  1.36456040e+00,
         9.17695793e-01],
       [-1.59370061e-01, -1.50838088e-01,  2.69453848e-01,
        -2.91099143e-16],
       [ 1.74040550e+00,  1.25959598e+00,  1.36456040e+00,
         1.70429219e+00],
       [ 2.20585051e-01, -3.85910433e-01,  4.42365409e-01,
         3.93298197e-01],
       [ 1.10714698e+00,  5.54378947e-01,  1.13401165e+00,
         1.70429219e+00],
       [ 7.27191868e-01,  8.42342570e-02,  1.01873728e+00,
         7.86596394e-01],
       [ 9.39333472e-02, -1.50838088e-01,  7.88188529e-01,
         7.86596394e-01],
       [-1.29923540e+00,  7.89451292e-01, -1.22911301e+00,
        -1.31099399e+00],
       [-1.17258369e+00, -1.32619981e+00,  4.42365409e-01,
         6.55496995e-01],
       [-1.04593199e+00,  1.02452364e+00, -1.22911301e+00,
        -7.86596394e-01],
       [-1.04593199e+00,  3.19306602e-01, -1.45966176e+00,
        -1.31099399e+00],
       [ 1.61375380e+00, -1.50838088e-01,  1.24928602e+00,
         1.17989459e+00],
       [ 1.10714698e+00,  8.42342570e-02,  3.84728222e-01,
         2.62198798e-01],
       [-2.86021765e-01, -1.32619981e+00,  9.65422879e-02,
        -1.31099399e-01],
       [-2.86021765e-01, -1.50838088e-01,  4.42365409e-01,
         3.93298197e-01],
       [-1.04593199e+00,  7.89451292e-01, -1.28675019e+00,
        -1.31099399e+00],
       [-1.93249392e+00, -1.50838088e-01, -1.51729894e+00,
        -1.44209339e+00],
       [-4.12673469e-01, -1.09112747e+00,  3.84728222e-01,
        -2.91099143e-16],
       [ 4.73888459e-01, -2.03141685e+00,  4.42365409e-01,
         3.93298197e-01],
       [-3.27183569e-02, -1.09112747e+00,  1.54179475e-01,
        -2.91099143e-16],
       [-1.59370061e-01, -1.32619981e+00,  7.30551342e-01,
         1.04879519e+00],
       [ 4.73888459e-01,  7.89451292e-01,  9.61100090e-01,
         1.44209339e+00],
       [-9.19280285e-01,  1.02452364e+00, -1.34438738e+00,
        -1.31099399e+00],
       [-2.86021765e-01, -6.20982778e-01,  6.72914156e-01,
         1.04879519e+00],
       [ 1.10714698e+00,  8.42342570e-02,  5.57639782e-01,
         3.93298197e-01],
       [ 1.10714698e+00, -1.50838088e-01,  8.45825716e-01,
         1.44209339e+00],
       [ 2.37366402e+00,  1.72974067e+00,  1.71038352e+00,
         1.31099399e+00],
       [-4.12673469e-01, -1.56127216e+00, -1.87320857e-02,
        -2.62198798e-01],
       [-7.92628581e-01,  1.02452364e+00, -1.28675019e+00,
        -1.31099399e+00],
       [ 2.37366402e+00, -1.50838088e-01,  1.36456040e+00,
         1.44209339e+00],
       [-9.19280285e-01,  1.72974067e+00, -1.05620145e+00,
        -1.04879519e+00],
       [-3.27183569e-02, -8.56055123e-01,  7.88188529e-01,
         9.17695793e-01],
       [-3.27183569e-02, -8.56055123e-01,  9.65422879e-02,
        -2.91099143e-16],
       [ 6.00540164e-01, -6.20982778e-01,  7.88188529e-01,
         3.93298197e-01],
       [ 6.00540164e-01,  5.54378947e-01,  5.57639782e-01,
         5.24397596e-01],
       [-1.59370061e-01, -1.09112747e+00, -1.34006459e-01,
        -2.62198798e-01],
       [-1.17258369e+00,  1.25959598e+00, -1.34438738e+00,
        -1.44209339e+00],
       [-1.04593199e+00, -1.79634450e+00, -2.49280833e-01,
        -2.62198798e-01],
       [-7.92628581e-01,  7.89451292e-01, -1.34438738e+00,
        -1.31099399e+00],
       [-1.04593199e+00,  7.89451292e-01, -1.22911301e+00,
        -1.04879519e+00],
       [ 6.00540164e-01, -8.56055123e-01,  6.72914156e-01,
         7.86596394e-01],
       [-1.59370061e-01, -6.20982778e-01,  4.42365409e-01,
         1.31099399e-01],
       [ 7.27191868e-01,  3.19306602e-01,  4.42365409e-01,
         3.93298197e-01],
       [-1.04593199e+00, -2.50156154e+00, -1.34006459e-01,
        -2.62198798e-01],
       [-4.12673469e-01,  2.67003005e+00, -1.34438738e+00,
        -1.31099399e+00],
       [-1.04593199e+00,  1.25959598e+00, -1.34438738e+00,
        -1.31099399e+00],
       [-5.39325173e-01,  1.49466833e+00, -1.28675019e+00,
        -1.31099399e+00],
       [-1.42588710e+00,  3.19306602e-01, -1.22911301e+00,
        -1.31099399e+00],
       [-1.67919051e+00, -1.79634450e+00, -1.40202457e+00,
        -1.17989459e+00],
       [ 1.36045039e+00,  3.19306602e-01,  1.13401165e+00,
         1.44209339e+00],
       [ 8.53843572e-01, -6.20982778e-01,  5.00002595e-01,
         3.93298197e-01],
       [-4.12673469e-01,  1.02452364e+00, -1.40202457e+00,
        -1.31099399e+00],
       [-1.17258369e+00, -1.50838088e-01, -1.34438738e+00,
        -1.31099399e+00],
       [-9.19280285e-01,  1.02452364e+00, -1.34438738e+00,
        -1.17989459e+00],
       [-1.55253881e+00,  1.25959598e+00, -1.57493613e+00,
        -1.31099399e+00],
       [ 9.80495276e-01, -3.85910433e-01,  5.00002595e-01,
         1.31099399e-01],
       [ 3.47236755e-01, -1.50838088e-01,  5.00002595e-01,
         2.62198798e-01],
       [-1.29923540e+00, -1.50838088e-01, -1.34438738e+00,
        -1.44209339e+00],
       [ 6.00540164e-01, -3.85910433e-01,  1.07637446e+00,
         7.86596394e-01],
       [ 6.00540164e-01,  5.54378947e-01,  1.30692321e+00,
         1.70429219e+00],
       [-1.80584221e+00, -3.85910433e-01, -1.34438738e+00,
        -1.31099399e+00],
       [-1.29923540e+00, -1.50838088e-01, -1.34438738e+00,
        -1.17989459e+00],
       [ 9.39333472e-02, -1.50838088e-01,  2.69453848e-01,
         3.93298197e-01],
       [ 7.27191868e-01, -6.20982778e-01,  1.07637446e+00,
         1.17989459e+00],
       [-3.27183569e-02, -8.56055123e-01,  7.88188529e-01,
         9.17695793e-01],
       [ 7.27191868e-01,  3.19306602e-01,  9.03462903e-01,
         1.44209339e+00],
       [ 1.23379868e+00,  3.19306602e-01,  1.24928602e+00,
         1.44209339e+00],
       [ 9.80495276e-01, -1.50838088e-01,  3.84728222e-01,
         2.62198798e-01],
       [ 1.36045039e+00,  8.42342570e-02,  9.61100090e-01,
         1.17989459e+00],
       [ 3.47236755e-01, -6.20982778e-01,  1.54179475e-01,
         1.31099399e-01]])

In [6]:
X_test_scaled

array([[ 0.34723676, -1.09112747,  1.07637446,  0.2621988 ],
       [-0.03271836, -0.62098278,  0.78818853,  1.57319279],
       [-1.17258369,  0.08423426, -1.28675019, -1.44209339],
       [-0.91928029,  0.78945129, -1.28675019, -1.31099399],
       [ 1.36045039,  0.08423426,  0.67291416,  0.3932982 ],
       [ 1.23379868, -0.15083809,  1.01873728,  1.17989459],
       [ 0.22058505,  0.78945129,  0.44236541,  0.5243976 ],
       [ 1.36045039,  0.08423426,  0.78818853,  1.44209339],
       [-0.91928029,  1.72974067, -1.28675019, -1.17989459],
       [ 0.22058505, -0.15083809,  0.61527697,  0.78659639],
       [-1.17258369, -1.56127216, -0.24928083, -0.2621988 ],
       [-0.15937006, -0.38591043,  0.26945385,  0.1310994 ],
       [ 0.60054016, -1.32619981,  0.73055134,  0.91769579],
       [ 0.60054016, -1.32619981,  0.67291416,  0.3932982 ],
       [-1.55253881,  0.78945129, -1.34438738, -1.17989459],
       [-1.04593199,  1.02452364, -1.40202457, -1.17989459],
       [ 2.37366402, -1.09112747,  1.82565789,  1.44209339],
       [-1.55253881,  0.3193066 , -1.34438738, -1.31099399],
       [ 2.24701232, -0.15083809,  1.65274633,  1.17989459],
       [ 1.7404055 , -0.15083809,  1.19164884,  0.5243976 ],
       [ 1.48710209,  0.3193066 ,  0.55763978,  0.2621988 ],
       [-1.80584221,  0.3193066 , -1.40202457, -1.31099399],
       [-1.80584221, -0.15083809, -1.40202457, -1.31099399],
       [ 0.34723676, -0.38591043,  0.55763978,  0.2621988 ],
       [-0.15937006,  3.14017474, -1.28675019, -1.04879519],
       [-0.28602177, -0.85605512,  0.26945385,  0.1310994 ],
       [-0.91928029,  1.72974067, -1.22911301, -1.31099399],
       [ 0.22058505, -2.03141685,  0.73055134,  0.3932982 ],
       [ 0.60054016, -1.7963445 ,  0.38472822,  0.1310994 ],
       [ 1.8670572 , -0.38591043,  1.47983477,  0.78659639]])

In [7]:
from sklearn.datasets import fetch_openml
from sklearn.preprocessing import OrdinalEncoder

In [8]:
data=fetch_openml('car',as_frame=True).frame

c:\Users\DEV GARG\Documents\scikit_learn_free_code_camp\.venv1\lib\site-packages\sklearn\datasets\_openml.py:328: UserWarning: Multiple active versions of the dataset matching the name car exist. Versions may be fundamentally different, returning version 2. Available versions:
- version 2, status: active
  url: https://www.openml.org/search?type=data&id=991
- version 3, status: active
  url: https://www.openml.org/search?type=data&id=40975

  warn(warning_msg)

In [9]:
data

     buying  maint  doors persons lug_boot safety binaryClass
0     vhigh  vhigh      2       2    small    low           P
1     vhigh  vhigh      2       2    small    med           P
2     vhigh  vhigh      2       2    small   high           P
3     vhigh  vhigh      2       2      med    low           P
4     vhigh  vhigh      2       2      med    med           P
...     ...    ...    ...     ...      ...    ...         ...
1723    low    low  5more    more      med    med           N
1724    low    low  5more    more      med   high           N
1725    low    low  5more    more      big    low           P
1726    low    low  5more    more      big    med           N
1727    low    low  5more    more      big   high           N

[1728 rows x 7 columns]

In [10]:
columns_to_encode=['lug_boot','safety']
encoder=OrdinalEncoder(
    categories=[
        ['small','med','big'],
        ['low','med','high'],

    ]
)
data[columns_to_encode]=encoder.fit_transform(data[columns_to_encode])

In [11]:
data

     buying  maint  doors persons  lug_boot  safety binaryClass
0     vhigh  vhigh      2       2       0.0     0.0           P
1     vhigh  vhigh      2       2       0.0     1.0           P
2     vhigh  vhigh      2       2       0.0     2.0           P
3     vhigh  vhigh      2       2       1.0     0.0           P
4     vhigh  vhigh      2       2       1.0     1.0           P
...     ...    ...    ...     ...       ...     ...         ...
1723    low    low  5more    more       1.0     1.0           N
1724    low    low  5more    more       1.0     2.0           N
1725    low    low  5more    more       2.0     0.0           P
1726    low    low  5more    more       2.0     1.0           N
1727    low    low  5more    more       2.0     2.0           N

[1728 rows x 7 columns]

In [12]:
encoder.inverse_transform(data[columns_to_encode])

array([['small', 'low'],
       ['small', 'med'],
       ['small', 'high'],
       ...,
       ['big', 'low'],
       ['big', 'med'],
       ['big', 'high']], shape=(1728, 2), dtype=object)

In [13]:
data=fetch_openml('adult',as_frame=True).frame

c:\Users\DEV GARG\Documents\scikit_learn_free_code_camp\.venv1\lib\site-packages\sklearn\datasets\_openml.py:328: UserWarning: Multiple active versions of the dataset matching the name adult exist. Versions may be fundamentally different, returning version 1. Available versions:
- version 1, status: active
  url: https://www.openml.org/search?type=data&id=179
- version 2, status: active
  url: https://www.openml.org/search?type=data&id=1590

  warn(warning_msg)

In [14]:
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country,class
0,2,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,1,0,2,United-States,<=50K
1,3,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,0,United-States,<=50K
2,2,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,2,United-States,<=50K
3,3,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,2,United-States,<=50K
4,1,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,2,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,2,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,2,United-States,<=50K
48838,4,NaN,321403,HS-grad,9,Widowed,NaN,Other-relative,Black,Male,0,0,2,United-States,<=50K
48839,2,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,3,United-States,<=50K
48840,2,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,2,0,2,United-States,<=50K
48841,1,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,3,United-States,>50K

In [15]:
from sklearn.preprocessing import OneHotEncoder

In [17]:
data.occupation.value_counts()

occupation
Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
Transport-moving     2355
Handlers-cleaners    2072
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: count, dtype: int64

In [18]:
import pandas as pd
encoder=OneHotEncoder(handle_unknown='ignore',sparse_output=False)
encoded_values=encoder.fit_transform(data[['occupation','race']])
new_cols=encoder.get_feature_names_out(['occupation','race'])

In [19]:
encoded_values

array([[1., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       ...,
       [0., 0., 0., ..., 0., 0., 1.],
       [1., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 1.]], shape=(48842, 20))

In [20]:
new_cols

array(['occupation_Adm-clerical', 'occupation_Armed-Forces',
       'occupation_Craft-repair', 'occupation_Exec-managerial',
       'occupation_Farming-fishing', 'occupation_Handlers-cleaners',
       'occupation_Machine-op-inspct', 'occupation_Other-service',
       'occupation_Priv-house-serv', 'occupation_Prof-specialty',
       'occupation_Protective-serv', 'occupation_Sales',
       'occupation_Tech-support', 'occupation_Transport-moving',
       'occupation_nan', 'race_Amer-Indian-Eskimo',
       'race_Asian-Pac-Islander', 'race_Black', 'race_Other',
       'race_White'], dtype=object)

In [22]:
df_encoded=pd.DataFrame(encoded_values,columns=new_cols,index=data.index)
data_final=pd.concat(
    [data.drop(columns=['occupation','race']),df_encoded],
    axis=1
)

In [23]:
data_final

,age,workclass,fnlwgt,education,education-num,marital-status,relationship,sex,capitalgain,capitalloss,...,occupation_Protective-serv,occupation_Sales,occupation_Tech-support,occupation_Transport-moving,occupation_nan,race_Amer-Indian-Eskimo,race_Asian-Pac-Islander,race_Black,race_Other,race_White
0,2,State-gov,77516,Bachelors,13,Never-married,Not-in-family,Male,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,3,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Husband,Male,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2,Private,215646,HS-grad,9,Divorced,Not-in-family,Male,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,3,Private,234721,11th,7,Married-civ-spouse,Husband,Male,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,1,Private,338409,Bachelors,13,Married-civ-spouse,Wife,Female,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,2,Private,215419,Bachelors,13,Divorced,Not-in-family,Female,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
48838,4,NaN,321403,HS-grad,9,Widowed,Other-relative,Male,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
48839,2,Private,374983,Bachelors,13,Married-civ-spouse,Husband,Male,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
48840,2,Private,83891,Bachelors,13,Divorced,Own-child,Male,2,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
48841,1,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Husband,Male,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0